<div class="bg-white rounded-lg lg:p-10 p-6 mb-3">
  <div class="lg:flex justify-between items-center">
    <h1 class="text-slate-800 font-bold text-3xl mb-4 lg:w-4/5">
      Account Statement
    </h1>
    <div class="flex w-full justify-center lg:w-1/5 lg:m-0 my-2" role="group">
      <hr />
      <button
        type="button"
        class="px-3 py-0.5 w-1/2 text-gray-900 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-blue-700"
        (click)="DecrementMonth()"
      >
        <i class="fa-solid fa-rotate-left"></i>
      </button>
      <button
        type="button"
        class="px-3 py-0.5 w-1/2 text-gray-900 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-blue-700"
        (click)="IncrementMonth()"
      >
        <i class="fa-solid fa-rotate-right"></i>
      </button>
    </div>
  </div>
  <hr />
  <div class="py-5">
    <form #myForm="ngForm" (ngSubmit)="GetAccountStatement(myForm)">
      <div class="grid grid-cols-2 gap-4">
        <div class="form-group col-span-2 lg:col-span-1">
          <label for="from">From</label>
          <input
            type="date"
            [ngModel]="from()"
            required
            name="from"
            class="form-control w-full"
            [disabled]="ignoreFrom"
          />
        </div>
        <div class="form-group col-span-2 lg:col-span-1">
          <label for="to">To</label>
          <input
            type="date"
            required
            [ngModel]="to()"
            name="to"
            class="form-control w-full"
            [disabled]="ignoreTo"
          />
        </div>
        <div class="form-group col-span-2 lg:col-span-1">
          <label for="account">Account</label>
          <ng-select
            [items]="accounts"
            bindLabel="name"
            bindValue="id"
            ngModel
            name="account"
          >
          </ng-select>
        </div>
        <div class="form-group col-span-2 lg:col-span-1">
          <label> Cost Center </label>
          <select class="form-control w-full" ngModel name="costCenter">
            <option value="">All Cost Centers</option>
            <option *ngFor="let cost of costCenters" [value]="cost.id">
              {{ cost.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="mt-5 lg:flex justify-between items-center">
        <div class="form-group w-full mb-2 lg:w-1/2">
          <label
            class="inline-flex items-center cursor-pointer lg:w-1/3 w-full"
          >
            <input
              type="checkbox"
              [ngModel]="openingBalance"
              name="openingBalance"
              class="sr-only peer"
            />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
            <span class="ms-3 text-sm font-medium text-gray-900"
              >Opening Balance</span
            >
          </label>
          <label
            class="inline-flex items-center cursor-pointer lg:w-1/3 w-full"
          >
            <input
              type="checkbox"
              [ngModel]="ignoreFrom"
              name="ignoreFrom"
              class="sr-only peer"
              (change)="ignoreFrom = !ignoreFrom"
            />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
            <span class="ms-3 text-sm font-medium text-gray-900"
              >Ignore From</span
            >
          </label>
          <label
            class="inline-flex items-center cursor-pointer lg:w-1/3 w-full"
          >
            <input
              type="checkbox"
              [ngModel]="ignoreTo"
              name="ignoreTo"
              class="sr-only peer"
              (change)="ignoreTo = !ignoreTo"
            />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
            <span class="ms-3 text-sm font-medium text-gray-900"
              >Ignore To</span
            >
          </label>
        </div>
        <button type="submit" class="btn-save me-2 w-full lg:w-1/3">
          <div class="flex justify-between items-center">
            <span>Get Account Statement</span>
            <i class="fa-solid fa-arrow-right fa-lg"></i>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
