<div class="grid grid-cols-4 gap-3 select-none">
  @for (item of balances(); track $index) {
  <div
    class="bg-white rounded-lg flex justify-between items-center shadow-sm p-5 cursor-pointer lg:hover:shadow-lg transition-all col-span-5 lg:col-span-1"
    (click)="ToggleBalance($event)"
  >
    <div class="info">
      <p class="text-sm text-gray-500">{{ item.accountName }}</p>
      <p class="text-xl font-bold relative">
        {{ item.balance }}
        <span
          class="cover absolute w-full h-full bg-gray-200 left-0 rounded-md bottom-0 transition"
        ></span>
      </p>
    </div>
    <div
      class="rounded-3xl {{
        colors[$index]
      }}  flex justify-center items-center text-white"
      style="height: 60px; width: 60px"
    >
      <i class="{{ icons[$index] }} fa-2xl"></i>
    </div>
  </div>
  }
</div>

<div class="mt-4">
  <div class="grid grid-cols-4 gap-3">
    <div class="col-span-3 hidden lg:block">
      <div class="bg-white rounded-lg p-5">
        @if(barChart){
        <canvas baseChart [data]="barChart()" [type]="'bar'"> </canvas>
        }
      </div>
    </div>
    <div class="col-span-4 lg:col-span-1">
      <div class="bg-white rounded-xl mb-2 p-5">
        @if(lineChart()){
        <canvas baseChart [data]="lineChart()" [type]="'line'"> </canvas>
        }
      </div>
      <div class="bg-white rounded-xl mb-2 p-5">
        @if(pieChart()){
        <canvas baseChart [data]="pieChart()" [type]="'pie'"> </canvas>
        }
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-2 gap-3 mt-3">
  <div
    class="bg-white rounded-lg col-span-2 lg:col-span-1 flex justify-between items-center shadow-sm p-5 lg:hover:shadow-lg transition-all"
  >
    <div class="info">
      <p class="text-sm text-gray-600 mb-2">Time Left For The Month</p>
      <p>
        <span class="text-xl font-bold me-1">{{ timeLeft.days }}</span>
        <span class="text-sm text-gray-500 me-3">Days</span>

        <span class="text-xl font-bold me-1">{{ timeLeft.periods }}</span>
        <span class="text-sm text-gray-500 me-3">Periods</span>
      </p>
    </div>
    <div
      class="rounded-3xl {{
        colors[4]
      }}  flex justify-center items-center text-white"
      style="height: 60px; width: 60px"
    >
      <i class="{{ icons[4] }} fa-2xl"></i>
    </div>
  </div>
  <div
    class="bg-white rounded-lg flex col-span-2 lg:col-span-1 justify-between items-center shadow-sm p-5 lg:hover:shadow-lg transition-all"
  >
    <div class="info">
      <p class="text-sm text-gray-600 mb-2">Estimated Money Need</p>
      <span class="text-2xl font-bold">
        {{ moneyNeed }}
      </span>
      <span class="text-sm text-gray-500">${{ dayRate }} Per Day</span>
    </div>
    <div
      class="rounded-3xl {{
        colors[5]
      }}  flex justify-center items-center text-white"
      style="height: 60px; width: 60px"
    >
      <i class="{{ icons[5] }} fa-2xl"></i>
    </div>
  </div>
</div>
