<div class="bg-white min-h-full rounded-xl p-5 lg:p-10 text-2xl">
  <h1 class="text-slate-900 font-bold text-3xl mb-4">Accounting Tree</h1>
  <hr />
  <ul class="text-nowrap">
    @for (item of primaryAccounts; track $index) {

    <details
      class="my-7 relative text-slate-900 font-semibold cursor-pointer bg-gray-200 p-5 transition-all rounded-lg overflow-x-auto [&::-webkit-scrollbar]:w-0"
      (toggle)="GetAccountChild(item.id, $event)"
    >
      <summary>
        <div class="AccountTreeloader hidden"></div>
        {{ item.name }} | {{ item.number }}
      </summary>
    </details>
    }
  </ul>
</div>
