@if(accountStatement){
<div
  class="rounded-lg mb-2 px-6 py-2 flex justify-between items-center text-sm text font-medium bg-white text-slate-900"
>
  <h4>{{ accountStatement.accountName }}</h4>
  <h4>{{ accountStatement.from }} - {{ accountStatement.to }}</h4>
</div>
}
<div
  class="relative bg-white shadow-sm rounded-xl overflow-auto min-h-[calc(100vh-10rem)]"
>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <tr class="text-xs text-white uppercase bg-slate-800 rounded-xl">
      <th scope="col" class="py-3 px-5" style="width: 20%">Detail</th>
      <th scope="col" class="p-3" style="width: 10%">Date</th>
      <th scope="col" class="p-3" style="width: 10%">Debit</th>
      <th scope="col" class="p-3" style="width: 10%">Credit</th>
      <th scope="col" class="p-3" style="width: 10%">Balance</th>
      <th scope="col" class="p-3" style="width: 10%">Cost Center</th>
      <th scope="col" class="p-3 w-2" style="width: 5%">Notes</th>
      <th scope="col" class="p-3 print:hidden text-center" style="width: 10%">
        Source
      </th>
    </tr>
    @if(accountStatement){
    <tbody>
      @for(item of accountStatement.details ;track $index){

      <tr class="bg-white border-b hover:bg-gray-50">
        <th
          scope="row"
          class="py-4 px-5 font-bold text-base text-gray-900 whitespace-nowrap"
        >
          {{ item.detail }}
        </th>
        <td class="py-4 px-3">{{ item.date }}</td>
        <td class="py-4 px-3 font-bold">{{ item.debit | currency }}</td>
        <td class="py-4 px-3 font-bold">{{ item.credit | currency }}</td>
        <td class="py-4 px-3 font-bold">{{ item.balance | currency }}</td>
        <td class="py-4 px-3">{{ item.costCenter }}</td>
        <td
          [title]="item.notes"
          class="py-4 px-3 whitespace-nowrap overflow-hidden text-ellipsis"
        >
          @if (item.notes.length > 50) {
          {{ item.notes | slice : 0 : 50 }}.. } @else {
          {{ item.notes }}
          }
        </td>
        <td class="py-4 px-3 text-center lg:text-right print:hidden">
          @if(item.journalId > 0 && item.periodId > 0){
          <a
            [routerLink]="['/Journal/Edit/', item.journalId]"
            class="font-medium text-blue-600 hover:underline me-2"
          >
            <i class="fa-solid fa-folder-open"></i> Open</a
          >
          }
        </td>
      </tr>
      }
    </tbody>
    }
  </table>
</div>

<div
  class="bg-white rounded-lg mt-4 p-5 shadow-sm flex justify-between items-center text-2xl font-bold"
  [ngClass]="
    accountStatement && accountStatement.accountType === 'Credit'
      ? 'text-red-700 '
      : 'text-green-700'
  "
>
  @if(accountStatement){
  <span class="me-4">{{ accountStatement.amount }}</span>
  <span>{{ accountStatement.accountType }}</span>
  }
</div>
