<nav>
  <div
    class="bg-slate-800 min-h-[calc(100vh-1.5rem)] mb-2 py-3 rounded-xl shadow-md"
  >
    <div class="text-center p-5 flex justify-center">
      <img src="favicon.ico" alt="Logo" class="w-40 h-40" />
    </div>
    <div class="p-5">
      <a
        routerLink="home"
        class="bg-slate-800 font-bold text-white block py-3 px-5 mb-2 hover:bg-gray-800"
        style="box-shadow: inset 0px -1px 2px #0000006e"
        ><i class="fa-solid fa-house me-2"></i>Home</a
      >
      <mat-accordion class="example-headers-align">
        <div class="mb-2">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="font-bold text-slate-800">
                <i class="fa-solid fa-money-check me-2"></i>
                Journals
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a
                  routerLink="Journal/Create"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  Create</a
                >
              </li>
              <li>
                <a
                  routerLink="Journal/Search"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  Search</a
                >
              </li>
              <li>
                <a
                  routerLink="Journal/List"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  List</a
                >
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
        <div class="mb-2">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="font-bold text-slate-800">
                <i class="fa-solid fa-clock me-2"></i>
                Periods
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a
                  routerLink="Period/Create"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  Create</a
                >
              </li>
              <li>
                <a
                  routerLink="Period/Search"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  Search</a
                >
              </li>
              <li>
                <a
                  routerLink="Period/List"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  List</a
                >
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
        <div class="mb-2">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="font-bold text-slate-800">
                <i class="fa-solid fa-address-book me-2"></i>
                Accounts
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a
                  routerLink="Account/Create"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  Create</a
                >
              </li>
              <li>
                <a
                  routerLink="Account/List"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  List</a
                >
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
        <div class="mb-2">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="font-bold text-slate-800">
                <i class="fa-solid fa-box me-2"></i>
                Cost Centers
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a
                  routerLink="CostCenter/Create"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  Create</a
                >
              </li>
              <li>
                <a
                  routerLink="CostCenter/List"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  List</a
                >
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
        <div class="mb-2">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="font-bold text-slate-800">
                <i class="fa-solid fa-file-arrow-up me-2"></i>
                Financial Menus
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a
                  routerLink="Journal/Create"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  Account Statment</a
                >
              </li>
              <li>
                <a
                  routerLink="Journal/List"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  Icome Statment</a
                >
              </li>
              <li>
                <a
                  routerLink="Journal/Create"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  Trail Balance</a
                >
              </li>
              <li>
                <a
                  routerLink="Journal/List"
                  routerLinkActive="route-active"
                  class="p-2 inline-block hover:text-slate-950"
                >
                  Balance Sheet</a
                >
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
        <div class="mb-2">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="font-bold text-slate-800">
                <i class="fa-solid fa-print me-2"></i>
                Reports
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <a href="">
                <li class="p-2 hover:text-slate-950">
                  There are no reports yet ..
                </li>
              </a>
            </ul>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </div>
</nav>
