@if(model){
<div class="bg-white rounded-xl p-5">
  <div class="flex flex-col lg:flex-row justify-between">
    <div class="title">
      @if(!isCurrentPeriod){
      <h1 class="text-3xl text-slate-800 font-bold">
        Journals For {{ model.name }}
      </h1>
      } @else {
      <h1 class="text-3xl text-slate-800 font-bold">
        Journals For Current Period
      </h1>
      }
      <h2 [ngClass]="['text-lg text-gray-600']">
        {{ model.from }} - {{ model.to }}
      </h2>
    </div>
    @if(!isCurrentPeriod){
    <div class="actions mt-2">
      <a
        [routerLink]="['/Journal', 'Create']"
        [queryParams]="{ periodId: periodId }"
        class="btn-primary print:hidden"
        >Add Journal To Period ({{ periodId }})</a
      >
    </div>
    }
  </div>
</div>
<div class="bg-white rounded-xl p-5 mt-4 min-h-[calc(100%-9rem)]">
  <app-journal-list [journals]="model.journals"></app-journal-list>
</div>
}
