@if(model){
<div class="bg-white rounded-xl p-5">
  <div class="flex flex-col md:flex-row justify-between">
    <div class="title">
      <h1 class="text-3xl text-slate-800 font-bold">
        Journals For {{ model.name }}
      </h1>
      <h2 class="text-lg text-gray-500">
        From {{ model.from }} To {{ model.to }}
      </h2>
    </div>
    <div class="actions mt-2">
      <a [routerLink]="['/Journal', 'Create', periodId]" class="btn-primary"
        >Add Journal</a
      >
    </div>
  </div>
</div>
<div class="bg-white rounded-xl p-5 mt-4 min-h-[calc(100%-9rem)]">
  <app-journal-list [journals]="model.journals"></app-journal-list>
</div>
}
