<a
  [routerLink]="['/Account', 'Edit', account?.id]"
  class="block py-4 px-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
>
  <h4 class="text-lg font-bold tracking-tight text-gray-900">
    {{ account.name }}
  </h4>
  <h3 class="text-lg text-gray-500 font-bold mb-2">
    {{ account.accountNumber }}
  </h3>
  @if(account.parentId){
  <hr />
  <h3 class="text-lg text-gray-400 font-bold mt-2">
    <span> {{ account.parentName }} ({{ account.parentNumber }})</span>
  </h3>
  }
</a>
