<a
  [routerLink]="['/Journal', 'Edit', journal.id]"
  class="p-5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 block"
>
  <div class="flex justify-between items-center mb-3">
    <h4 class="text-lg lg:text-2xl font-bold tracking-tight text-gray-900 me-3">
      {{ journal.detail }}
    </h4>
    <div>
      @if(journal.type === 1){
      <div
        class="amount flex items-center text-2xl lg:text-3xl overflow-hidden text-green-500"
      >
        <h1 class="me-2">{{ journal.amount }}</h1>
        <i class="fa-solid fa-square-plus"></i>
      </div>
      } @else if(journal.type === 2){
      <div class="amount flex items-center text-2xl lg:text-3xl text-red-400">
        <h1 class="me-2">{{ journal.amount }}</h1>
        <i class="fa-solid fa-square-minus"></i>
      </div>

      } @else if(journal.type === 3){

      <div class="amount flex items-center text-2xl lg:text-3xl text-blue-400">
        <h1 class="me-2">{{ journal.amount }}</h1>
        <i class="fa-solid fa-thumbtack"></i>
      </div>

      } @else {
      <div
        class="amount flex items-center text-2xl lg:text-3xl text-orange-400"
      >
        <h1 class="me-2">{{ journal.amount }}</h1>
        <i class="fa-solid fa-reply fa-flip-horizontal"></i>
      </div>
      }
    </div>
  </div>
  <div
    class="text-gray-500 font-medium max-w-full text-xs lg:text-base flex flex-col lg:flex-row"
  >
    <p class="overflow-hidden text-nowrap text-ellipsis me-2">
      <span class="mb-2"
        ><i class="fa-solid fa-paperclip"></i> {{ journal.notes }}</span
      >
      <span> #{{ journal.code }}</span>
    </p>
    <p class="overflow-hidden text-nowrap text-ellipsis">
      <span>
        <i class="fa-regular fa-clock"></i>
        {{ journal.createdAt }}
      </span>
      <span> | P-{{ journal.periodId }}</span>
    </p>
  </div>
</a>
